name: CI

on:
  push:
    branches: [ master ]

jobs:
  lint-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: |
          go mod download

      - name: Run linter for consumer
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: consumer

      - name: Run linter for producer
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: producer

      - name: Build
        run: |
          go build work

      - name: Run tests
        run: go test work
